<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Gestion Catégories</title>
  <link data-th-href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
    <div data-th-insert="~{admin/components/adminHeader :: adminHeaderFragment}"></div> <br>
    <div class="centerDiv"> <a class="button greyButton" data-th-href="@{/admin/}">Panneau Admin - Accueil</a> </div> <br>

    <h2>GESTION DES CATÉGORIES :</h2> <br> <br> <br> <br> <br> <br>

    <div class="confirmCard">

        <div class="biggerText strong">Êtes vous sûrs de vouloir SUPPRIMER cette Catégorie de produits ?</div>
        <div class="biggerText">( tous les produits de cette Catégorie seront également supprimés )</div> <br> <br>

      <a class="button" data-th-href="@{/api/category/delete/{categoryId}(categoryId=${selectedCategory.categoryId})}">OUI: Supprimer cette catégorie !!!</a>
      <a class="button blueButton" data-th-href="@{/admin/category/createdelete}">NON: Retour à la Gestion Catégories</a>

    </div> <br> <br> <br> <br> <br> <br>

    <div class="fragment" data-th-insert="~{components/mainFooter :: footerFragment}"></div>

</body>
</html>