<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Gestion Catégories</title>
    <link data-th-href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
    <div data-th-insert="~{admin/components/adminHeader :: adminHeaderFragment}"></div> <br>

    <div class="centerDiv" data-th-if="${param.created_category}"><div class="success-message"> La Catégorie de produits a été créée avec succès !!! </div> </div>
    <div class="centerDiv" data-th-if="${param.deleted_category}"><div class="warning-message"> La Catégorie de produits a été supprimée !!! </div> </div>

    <div class="centerDiv"> <a class="button greyButton" data-th-href="@{/admin/}">Panneau Admin - Accueil</a> </div> <br>

    <h2>AJOUTER UNE CATÉGORIE :</h2>

    <div class="centerDiv moremargin">
        <form action="#" data-th-action="@{/api/category/post}"
              data-th-object="${createdCategory}"
              method="POST">

            <label for="categoryName">Nom de la catégorie à créer:</label>
            <input class="categoryForm" type="text" id="categoryName" data-th-field="*{categoryName}" placeholder="nom entre 5 et 30 caractères"
                   minlength="5" maxlength="30" required>

            <input class="button" type="submit" value="Créer la catégorie">
        </form>
    </div>

    <h2>LISTE DES CATÉGORIES EXISTANTES:</h2> <br>

    <div class="centerDiv">ATTENTION:  Avant de supprimer une Catégorie, il est préférable de rediriger les Produits contenus dans celle-ci vers une autre Catégorie. </div>
    <div class="centerDiv redText strong" >⚠️Supprimer une Catégorie entraine la suppression de tous les Produits qu'elle contient !!!</div> <br>
    <div class="categoryZone">
        <ul class="categoryCardZone">
            <li class="categoryCard" data-th-each="category : ${allCategoriesList}">
                <div class="categoryCardId">ID_Catégorie_ <div class="objectData" data-th-text="${category.categoryId}">ID vide</div> </div> <br>
                <div>Nom de la catégorie:  <div class="cardTitle" data-th-text="${category.categoryName}">Nom vide</div> </div> <br><br>

                <div data-th-if="(${category.productList.isEmpty()})">
                    <div>Il n'y a pas de produit dans cette Catégorie!</div>
                    <a class="button" data-th-href="@{/api/category/delete/{categoryId}(categoryId=${category.categoryId})}">Supprimer cette catégorie</a>
                </div>
                <div data-th-unless="(${category.productList.isEmpty()})">
                    <div class="noCardCategory">⚠ Cette Catégorie contient au moins 1 produit</div>
                    <a class="button redButton" data-th-href="@{/admin/category/delete-confirm/{categoryId}(categoryId=${category.categoryId})}">Supprimer cette catégorie</a>
                </div>
            </li>
        </ul>
    </div>

<div class="fragment" data-th-insert="~{components/mainFooter :: footerFragment}"></div>

</body>
</html>