<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Modification Produit</title>
    <link data-th-href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
    <div data-th-insert="~{admin/components/adminHeader :: adminHeaderFragment}"></div> <br>
    <div class="centerDiv"> <a class="button greyButton" data-th-href="@{/admin-pannel/}">Panneau Admin - Accueil</a> </div> <br>

    <h2> MODIFICATION DU PRODUIT SÉLECTIONNÉ : </h2> <br> <br> <br>

    <div class="formZone">
        <form class="formCard"
              action="#" data-th-action="@{/api/product/put/{productId}(productId=${toUpdateProduct.productId})}"
              data-th-object="${toUpdateProduct}"
              method="POST">

            <label for="productName">Nom:</label> <br>
            <input class="inputLine" type="text" id="productName" data-th-field="*{productName}" data-th-value="${toUpdateProduct.productName}"
                   minlength="5" maxlength="28" required> <br> <br>

            <label for="productDescription">Description:</label> <br>
            <input class="inputLine" type="text" id="productDescription" data-th-field="*{productDescription}" data-th-value="${toUpdateProduct.productDescription}"
                   minlength="10" maxlength="120" required> <br> <br>

            <label for="productPrice">Prix:</label> <br>
            <input class="inputLine" type="number" id="productPrice" data-th-field="*{productPrice}" data-th-value="${toUpdateProduct.productPrice}"
                   step="0.01" min="0.01" required> <br> <br>

            <label for="imageDirectory">Lien de l'image:</label> <br>
            <input class="inputLine" type="url" id="imageDirectory" data-th-field="*{imageDirectory}" data-th-value="${toUpdateProduct.imageDirectory}"
                   pattern="https://.*" required> <br> <br>

            <label for="productCategory">Choisir une catégorie:</label> <br>
            <select class="inputLine selectInputLine" name="productCategory" id="productCategory" data-th-field="*{productCategory}">
                <option data-th-each="category : ${allCategoriesList}"
                        data-th-value="${category.categoryId}"
                        data-th-text="${category.categoryName}">
                </option>
            </select> <br> <br> <br> <br>

            <div class="centerDiv">
                <input class="button biggerTextButton" type="submit" value="Modifier le produit">
            </div>
        </form>
    </div>

    <div class="fragment" data-th-insert="~{components/mainFooter :: footerFragment}"></div>

</body>
</html>