<div class="productZone">
    <ul class="productZone">
        <div class="productCardZone">
            <li class="productCard" data-th-each="product : ${allProductsList}">
                <div class="cardTitle" data-th-text="${product.productName}">Nom Produit</div>
                <img class="productImage" id="mainProductImage" data-th-alt="${'Image du produit -' + product.productName + '- indisponible ou introuvable!!!'}" data-th-src="${product.imageDirectory}">
                <div class="cardText" data-th-text="${product.productDescription}">Description</div>
                <div class="cardLine">
                    <div class="cardPrice promotionalPrice" data-th-if="${product.promotion}">
                        <div data-th-text="${product.calculatePriceWithDiscount(product.productPrice, product.promotion.discountPercentage)}">Prix recalculé</div> <div> €   </div>
                        <div class="stripedPrice" data-th-text="${product.productPrice}">Prix normal barré</div>
                    </div>
                    <div class="cardPrice normalPrice" data-th-unless="${product.promotion}">
                        <div data-th-text="${product.productPrice}">Prix normal</div> €
                    </div>
                    <div class="cardPromotion" data-th-if="${product.promotion}">
                        <div>( Promotion: </div> <div data-th-text="${product.promotion.discountPercentage}">Pourcentage</div> <div>% de remise )</div>  <br>
                    </div>
                    <div data-th-unless="${product.promotion}"></div>
                    <div class="cardPromotionDate" data-th-if="${product.promotion}">
                        <div class="cardDateText"> du : </div> <div class="cardDate" data-th-text="${#temporals.format(product.promotion.promotionStartDate, 'dd/MM/yyyy')}"> </div> <br>
                        <div class="cardDateText"> au : </div> <div class="cardDate" data-th-text="${#temporals.format(product.promotion.promotionEndDate, 'dd/MM/yyyy')}"> </div>
                    </div>
                    <div data-th-unless="${product.promotion}"></div>
                </div> <br>
            </li>
        </div>
    </ul>
</div>