<footer data-th-fragment="adminFooterFragment">
  <div class="footer">
    <br>
    <div class="centerDiv strong"> François-David SEGUIN © Java Spring Application 2023 / / MERCADONA - CATALOG</div> <br>
    <div class="centerDiv strong blackText">⚠️Vous n'êtes pas sur le véritable Site de l'entreprise MERCADONA! Cette application contient des données inventées et images libres de droits. </div> <br>
    <div class="centerDiv"> ( Ce Site fictif a été réalisé dans le cadre d'une évaluation certifiante pour mon passer mon titre de Concepteur Développeur d'Applications Web ) </div> <br>
  </div >
</footer>