<header data-th-fragment="adminHeaderFragment">
  <div>
    <div class="centerDiv headerLogoContainer"> <img class="headerLogo" alt="Logo Mercadona" data-th-src="@{/pictures/MercadonaLogo.png}"> </div>
    <h1 class="adminTITLE">PANNEAU D'ADMINISTRATION</h1>
    <div class="centerNav"><div class="margin-right">  ➜ <a data-th-href="@{/}">Retour page d'accueil (rester connecté)</a></div> <div>  ➜ <a data-th-href="@{/logout}">Déconnexion (fin de session admin)</a></div></div> <br>
  </div >
</header>