<div class="productZone">
    <ul>
        <li data-th-each="product : ${allProductsList}">
            <div class="cardLine">ID produit:  <div class="objectData" data-th-text="${product.productId}">ID vide</div> </div>
            <div class="cardLine">Nom du produit:  <div class="objectData" data-th-text="${product.productName}">Nom vide</div> </div>
            <div class="cardLine">Description:  <div class="objectData" data-th-text="${product.productDescription}">Pas de description</div> </div>
            <div class="cardLine">Prix:  <div class="objectData" data-th-text="${product.productPrice}">Pas de prix</div> € </div>
            <div class="cardLine">Lien de l'image:  <div class="objectData" data-th-text="${product.imageDirectory}">Pas d'image</div> </div>
            <div class="cardLine">Catégorie:  <div class="objectData" data-th-text="${product.productCategory.categoryName}">Pas de Catégorie de produit</div> </div>
            <div class="cardLine">Promotion:
                <div class="cardLine" data-th-if="${product.promotion}"> <div class="objectData" data-th-text="${product.promotion.discountPercentage}"> </div> % de remise</div>
                <div data-th-unless="${product.promotion}"> Pas de Promotion active !</div>
            </div>
            <div class="cardLine">
                <div class="cardLine" data-th-if="${product.promotion}">
                    prix avec la remise: <div data-th-text="${product.productPrice - (product.productPrice * product.promotion.discountPercentage / 100)}"></div> €
                </div>
                <div data-th-unless="${product.promotion}">
                    (le prix reste le même)
                </div>
            </div>
            <br>
        </li>
    </ul>
</div>