<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panneau d'administration</title>
    <link data-th-href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
    <h1>PANNEAU D'ADMINISTRATION MERCADONA</h1>

    <div class="backLink"> ➜ <a data-th-href="@{/}">Retour >> Page d'accueil Utilisateurs</a> <br></div>

    <h2>CRÉER / SUPPRIMER  DES CATEGORIES D'ARTICLES :</h2>

    <a class="button blueButton" data-th-href="@{/admin/category/createdelete}">Gérer  les  Catégories</a> <br>

    <h2>GÉRER LES PRODUITS ET LES PROMOTIONS :</h2>

    <a class="button" data-th-href="@{/admin/product/create}">Créer nouveau Produit</a> <br>

    <h3>GESTION DES PRODUITS DU CATALOGUE :</h3>
    <div class="labelSelect">Trier les produits par:</div>
    <select name="selected-Category" id="adminCategorySelector">
        <option value="0">TOUS LES PRODUITS</option>
        <option data-th-each="category : ${allCategoriesList}" data-th-value="${category.categoryId}" data-th-text="${category.categoryName}"> </option>
    </select>

    <div class="productZone" id="getProductsAdminComponent"> </div>



<script type="text/javascript" data-th-src="@{/scripts/admin.js}"></script>
</body>
</html>