<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Panneau d'administration</title>
    <link data-th-href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
    <h1>PANNEAU D'ADMINISTRATION MERCADONA</h1>

    <a data-th-href="@{/}">Retour -> Page d'accueil Utilisateurs</a> <br>

    <h2>CRÉER / SUPPRIMER  DES CATEGORIES D'ARTICLES :</h2>

    <a data-th-href="@{/admin/category/createdelete}">Gérer les catégories</a> <br>

    <h2>GÉRER LES PRODUITS ET LES PROMOTIONS :</h2>

    <a data-th-href="@{/admin/product/create}">Créer un Nouveau Produit</a> <br> <br>





<script type="text/javascript" data-th-src="@{/scripts/main.js}"></script>
</body>
</html>