<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panneau d'administration</title>
    <link data-th-href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
    <div data-th-insert="~{admin/components/adminHeader :: adminHeaderFragment}"></div>

    <div class="centerDiv" data-th-if="${param.continue}"><div class="success-message"> Connexion au COMPTE ADMINISTRATEUR réussie !!!! </div> </div>
    <div class="centerDiv" data-th-if="${param.created_product}"><div class="success-message"> Le Produit a été créé avec succès !!!! </div> </div>
    <div class="centerDiv" data-th-if="${param.deleted_product}"><div class="warning-message"> Le Produit a été supprimé !!!! </div> </div>
    <div class="centerDiv" data-th-if="${param.updated_product}"><div class="success-message"> Le Produit a été modifié avec succès !!!! </div> </div>
    <div class="centerDiv" data-th-if="${param.created_promotion}"><div class="success-message"> La Promotion a été créée avec succès !!!! </div> </div>
    <div class="centerDiv" data-th-if="${param.deleted_promotion}"><div class="warning-message"> La Promotion de ce produit a été supprimée !!!! </div> </div>


    <h2 class="TMargin">CRÉER / SUPPRIMER  DES CATEGORIES D'ARTICLES :</h2>

    <div class="centerDiv">
        <a class="button blueButton" data-th-href="@{/admin/category/createdelete}">Gérer les Catégories</a> <br>
    </div>

    <h2>GÉRER LES PRODUITS ET LEURS PROMOTIONS :</h2>

    <div class="centerDiv">
        <a class="button centerDiv" data-th-href="@{/admin/product/create}">Créer nouveau Produit</a> <br>
    </div>

    <div class="labelSelect">Trier les produits par:</div>
    <select name="selected-Category" id="adminCategorySelector">
        <option value="0">TOUS LES PRODUITS</option>
        <option data-th-each="category : ${allCategoriesList}" data-th-value="${category.categoryId}" data-th-text="${category.categoryName}"> </option>
    </select>

    <div class="productZone" id="getProductsAdminComponent"> </div> <br> <br>

    <div class="centerDiv">
        <div>Pour voir/gérer uniquement les Promotions:</div>
        <a class="button blueButton" data-th-href="@{/admin/promotion/manage}">Visualiser Promotions</a>
    </div> <br>

    <div class="fragment" data-th-insert="~{admin/components/adminFooter :: adminFooterFragment}"></div>

<script type="text/javascript" data-th-src="@{/scripts/admin.js}"></script>
</body>
</html>