<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadona catalogue</title>
    <link data-th-href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
    <div class="fragment" data-th-insert="~{components/mainHeader :: headerFragment}"></div>

    <h1>CATALOGUE DE PRODUITS MERCADONA :</h1> <br>
    <div data-th-if="${param.success}">test affichage succès</div>
    <div class="labelSelect">Trier les produits par:</div>
    <select name="selected-Category" id="categorySelector">
        <option value="0">TOUS LES PRODUITS</option>
        <option data-th-each="category : ${allCategoriesList}" data-th-value="${category.categoryId}" data-th-text="${category.categoryName}"> </option>
    </select>

    <div class="productZone" id="getProductsComponent"> </div>

    <div class="fragment" data-th-insert="~{components/mainFooter :: footerFragment}"></div>


<script type="text/javascript" data-th-src="@{/scripts/main.js}"></script>
</body>
</html>