<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mercadona catalogue</title>
    <link data-th-href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
    <h1>TEST VISUEL  (THYMELEAF)  DE LA PAGE D'ACCUEIL DE L'APPLICATION MERCADONA :</h1>
    <br>

    <h2>Affichage des catégories présentes dans la BDD (getAllProductsCategory Method):</h2>
    <ul>
        <li data-th-each="category : ${allCategoriesList}">
            <div class="cardLine">ID catégorie:  <div class="objectData" data-th-text="${category.categoryId}">ID vide</div> </div>
            <div class="cardLine">Nom de la catégorie:  <div class="objectData" data-th-text="${category.categoryName}">Nom vide</div> </div>
            <div class="cardLine">Produits de la catégorie:
                <div class="cardLine" data-th-each="selectedCategoryProduct : ${category.productList}">
                    <div class="objectData" data-th-text="${selectedCategoryProduct.productName}">Pas de produit</div> ,
                </div>
            </div>
            <br>
        </li>
    </ul>

    <h3>test de balise select avec les données de catégories</h3>
    <label for="categorySelector">Trier les produits par:</label>
    <select name="selected-Category" id="categorySelector">
        <option value="0">Tous les produits</option>
        <option data-th-each="category : ${allCategoriesList}" data-th-value="${category.categoryId}"> <div data-th-text="${category.categoryName}"> </div></option>
    </select>

    <h2>Liste des produits de la BDD (getAllProducts Method):</h2>
    <ul>
        <li data-th-each="product : ${allProductsList}">
            <div class="cardLine">ID produit:  <div class="objectData" data-th-text="${product.productId}">ID vide</div> </div>
            <div class="cardLine">Nom du produit:  <div class="objectData" data-th-text="${product.productName}">Nom vide</div> </div>
            <div class="cardLine">Description:  <div class="objectData" data-th-text="${product.productDescription}">Pas de description</div> </div>
            <div class="cardLine">Prix:  <div class="objectData" data-th-text="${product.productPrice}">Pas de prix</div> € </div>
            <div class="cardLine">Lien de l'image:  <div class="objectData" data-th-text="${product.imageDirectory}">Pas d'image</div> </div>
            <div class="cardLine">Catégorie:  <div class="objectData" data-th-text="${product.productCategory.categoryName}">Pas de Catégorie de produit</div> </div>
            <div class="cardLine">Promotion:
                <div class="cardLine" data-th-if="${product.promotion}"> <div class="objectData" data-th-text="${product.promotion.discountPercentage}"> </div> % de remise</div>
                <div data-th-unless="${product.promotion}"> Pas de Promotion active !</div>
            </div>
            <div class="cardLine">
                <div class="cardLine" data-th-if="${product.promotion}">
                    prix avec la remise: <div data-th-text="${product.productPrice - (product.productPrice * product.promotion.discountPercentage / 100)}"></div> €
                </div>
                <div data-th-unless="${product.promotion}">
                    (le prix reste le même)
                </div>
            </div>
            <br>
        </li>
    </ul>



    <a data-th-href="@{/admin/}">Panneau administrateur</a>

<script type="text/javascript" data-th-src="@{/scripts/main.js}"></script>
</body>
</html>