<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion utilisateur</title>
  <link data-th-href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
<div class="fragment" data-th-insert="~{components/mainHeader :: headerFragment}"></div>

<h1>CRÉATION D'UN COMPTE UTILISATEUR :</h1> <br>

<div class="confirmCard">
  <form action="#" role="form" data-th-action="@{/login}"
        method="POST">

    <label for="username">Nom de l'utilisateur :</label>
    <input class="categoryForm" type="text" id="username" name="username" placeholder="nom de l'utilisateur"
           required>


    <label for="password">Mot de Passe :</label>
    <input class="categoryForm" type="password" id="password" name="password" placeholder="Password"
           required>

    <input class="button" type="submit" value="Se connecter">
  </form>
</div> <br> <br> <br> <br> <br> <br>

<div class="fragment" data-th-insert="~{components/mainFooter :: footerFragment}"></div>


<script type="text/javascript" data-th-src="@{/scripts/main.js}"></script>
</body>
</html>