body {
    background-color: #e9fcef;
    font-size: 16px;
    width: auto;
    margin: 0;
}

header, footer {
    background-color: #229e6b;
    color: white;
}

.headerLogoContainer {
    display: flex;
    justify-content: center;
}

.headerLogo {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    width: (100% -6px);
    margin: 0;
    padding: 8px;
    background-color: #1c3037;
    color: #dffcef;
}

h2 {
    margin-top: 7px;
    margin-bottom: 7px;
}

h3, h4 {
    color: #229e6b;
}

li {
    list-style-type: none;
    margin: 0;
}

ul {
    margin: 0;
}

.adminTITLE {
    background-color: #14563e;
    color: #e8b943;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}

.headerFragment, .footerFragment {
    margin-bottom: 0;
    padding-bottom: 0;
}

.productZone, .categoryZone, .promotionZone {
    display: flex;
    margin: 0;
    min-height: 60vh;
    align-content: center;
}

.formZone {
    min-height: 60vh;
    display: flex;
    justify-content: center;
}


.productCardZone, .categoryCardZone, .promotionCardZone {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 10px 20px 10px 0;
}

.productCard {
    display: inline-block;
    width: 300px;
    height: 370px;
    background-color: white;
    border-style: solid;
    border-color: #009660;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px #012c1c;
    padding-top: 10px;
    margin: 0 auto 15px;
}

.adminProductCard {
    height: 585px;
}

.categoryCard, .promotionCard {
    display: inline-block;
    width: 300px;
    height: 220px;
    background-color: white;
    border-style: solid;
    border-color: #009660;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px #012c1c;
    padding: 10px;
    margin: auto auto 25px;
}

.promotionCard {
    height: 300px;
}

.formCard {
    display: inline-block;
}


.confirmCard {
    background-color: white;
    border-style: solid;
    border-color: #009660;
    border-width: 1px;
    border-radius: 10px;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.inputLine {
    width: 480px;
    padding: 5px 12px;
    font-size: 1.1rem;
}

.selectInputLine {
    width: auto;
}

.inlineId {
    display: flex;
    margin-left: 30px;
    font-size: 0.8rem;
}

.discountLine {
    display: flex;
}

.productImage {
    width: 280px;
    height: 160px;
    margin: 10px;
    border-radius: 10px;
}

.cardTitle , .cardText, .cardPrice, .cardLine, .cardId {
    margin-left: 10px;
}

.cardPrice, .cardPromotion {
    display: flex;
}

.cardTitle {
    font-weight: bold;
    color: #01382b;
    font-size: 1.25rem;
}

.cardText {
    margin-bottom: 10px;
}

.cardPrice {
    font-weight: bold;
    font-size: 1.5rem;
    justify-content: flex-end;
    margin-right: 15px;
}

.promotionalPrice {
    color: red;
    font-weight: bolder;
    font-size: 1.7rem;
}

.normalPrice {
    font-weight: bold;
    font-size: 1.7rem;
}

.stripedPrice {
    font-weight: normal;
    font-size: 1.15rem;
    text-decoration:line-through;
    color: black;
}

.cardPromotion {
    color: #8c0303;
    font-weight: 700;
    margin-left: 30px;
}

.cardPromotionDate {
    display: flex;
    margin-left: 40px;
}

.cardDateText, .cardDate {
    font-size: 12px;
}

.cardDate {
    color: #6c0202;
}

.cardDateText {
    margin-right: 4px;
    margin-left: 4px
}

.cardCategory {
    font-size: 0.8rem;
    margin-left: 10px;
    color: #706f6f;
}

.categoryForm {
    width: 280px;
    padding: 5px 12px;
    font-size: 1.1rem;
}

.categoryCardId {
    display: flex;
}

.objectData {
    font-weight: 700;
    color: #01382b;
}

.promotionInfo {
    margin-left: 20px;
    color: #818181;
}

#categorySelector, #adminCategorySelector {
    font-size: 1.3rem;
    margin-left: 20px;
    margin-bottom: 20px;
}

.labelSelect {
    margin-left: 20px;
    color: #494848;
}

.button {
    display: inline-block;
    background-color: green;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    margin: 2px;
    margin-left: 10px;
    padding: 10px 20px 10px;
    text-align: center;
    cursor: pointer;
}

.blueButton {
    background-color: #0648c4;
}

.redButton {
    background-color: #9f0707;
}

.greyButton {
    background-color: #3a3a3a;
}

.biggerTextButton {
    font-size: 1.3rem;
}

.button:hover {
    background-color: #001811;
    transform: translateX(+3px);
}

.centerDiv {
    text-align: center;
}

.centerNav {
    display: flex;
    justify-content: center;
    text-align: center;
}

.margin-right {
    margin-right: 10px;
}

.biggerText {
    font-size: 1.2rem;
}

.strong {
    font-weight: 700;
}

.blackText {
    color: #050505;
}

.redText {
    color: #6c0202;
}

.moremargin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.warning-message, .success-message {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-radius: 10px;
}

.warning-message {
    background-color: #fca7a7;
    color: #6c0202;
}

.success-message {
    background-color: #b2fdd2;
    color: #024936;
}

.bottom-Border {
    border-bottom-style: solid;
    border-width: 2px;
}



@media (min-width: 900px) {
    .headerLogo {
        width: 900px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .inputLine {
        width: 300px;
    }
}
